* {
  box-sizing: border-box;
}

:root {
  --font-family: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #2e2f42;
  line-height: 1.5;
}
