h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border-style: none;
  border-color: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  outline: none;
}

input[type='number'] {
  width: 100% !important;
}
